.template-button {
    border: 0;
    padding: 1rem;
    background-color: #e5e5e5;
    margin: 0 0.8rem;
    border-radius: 10px;
    font-weight: 600;
}
#clear {
    float: left;
    color: red;
    transition: all 0.2s;
}
#clear:hover {
    background-color: red;
    color: #f9f9f9;
}
#example {
    float: right;
    background-color: #e5e5e5;
    transition: all 0.2s;
}
#example:hover {
    background-color: #d4d4d4;
}
.template {
    background-color: #f9f9f9;
    padding: 1rem;
    position: relative;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgb(0,0,0,0.1);
}
